@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-size: 20px;
  line-height: 30px;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header__top {
  padding: 8px 24px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #171717;
}
.header__img {
  display: block;
  margin: 0px auto;
  text-align: center;
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
  padding: 10px 0;
}
.header__img a img {
  height: 35px;
  display: inline-block;
}

.article {
  max-width: 768px;
  margin: 36px auto;
  padding: 0 15px;
}
@media (max-width: 768px) {
  .article {
    width: 100%;
  }
}
.article__title {
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
  margin: 8px 0;
}
@media (max-width: 768px) {
  .article__title {
    font-size: 24px;
    line-height: 36px;
  }
}
.article__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.article__box-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.article__autor-img {
  margin-right: 10px;
}
.article__autor-img img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.article__autor-name {
  font-size: 14px;
  line-height: 21px;
}
.article__autor-name span {
  color: #5100ba;
}
.article__autor-job {
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
}
.article__date {
  font-size: 12px;
  color: #6a6a6a;
}
.article__img {
  margin: 8px 0 12px;
}
.article__img img {
  width: 100%;
  height: auto;
  border-radius: 22px;
}
.article__img-text {
  color: #6a6a6a;
  font-size: 12px;
  margin-bottom: 16px;
}
.article p {
  margin-top: 0;
}
.article p a {
  margin-bottom: 0;
}
.article p:not(:last-child) {
  margin-bottom: 30px;
}
.article h3 {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
}
.article a {
  color: #3139e3;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 0.11111111rem solid transparent;
  margin-bottom: 30px;
  display: inline-block;
}
@media (any-hover: hover) {
  .article a:hover {
    border-bottom: 0.11111111rem solid #3139e3;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
.article__thankyou {
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
  padding: 40px 0;
}
.article__main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.article__main-form h2,
.article__main-form h4 {
  margin-bottom: 20px;
}
.article__main-form h4 {
  font-weight: 400;
}
.article__main-form input {
  max-width: 400px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  font-size: 18px;
  padding: 11px 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.article__main-form button {
  background-color: #ec8b34;
  color: #fff;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
@media (any-hover: hover) {
  .article__main-form button:hover {
    background-color: #e77510;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
.article__form {
  background: #1689bf;
  width: 100%;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  padding: 25px;
  border-radius: 10px;
}

.footer {
  border-top: 1px solid #d6d6d6;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 768px;
  margin: 0px auto;
  padding: 20px 15px;
}
@media (max-width: 478px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
.footer__item {
  width: 50%;
}
@media (max-width: 478px) {
  .footer__item {
    width: 100%;
  }
}
.footer__item img {
  width: 34px;
  height: 34px;
}
.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
}
.footer__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  gap: 10px;
}
@media (max-width: 478px) {
  .footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
}
@media (max-width: 478px) {
  .footer__link li {
    width: calc(50% - 5px);
  }
}
.footer__link li a {
  color: #3139e3;
  text-decoration: none;
  font-size: 20px;
}
@media (any-hover: hover) {
  .footer__link li a:hover {
    color: #1689bf;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: underline;
  }
}
.footer__socials {
  margin-top: 20px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media (max-width: 478px) {
  .footer__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__socials img {
  width: 20px;
  height: 20px;
}